!=css("/css/chatText.css")
!=css("/vendor/emojify/less/emojify.css")

!=js("/vendor/emojify/emojify.js")

#textChat.module.fill-height.color-one
    .frame
        #chatContent
            ul
        #chatForm
            form
                span#descriptionTC
                    | press ENTER to post
                textarea